	{!
		if(data.is('CONSTRUCTOR'))
			output += "<p><span class=\"name\">new " + data.alias + "</span>" + makeSignature(data.params) + ";</p>";
	!}


	<if test="data.params.length">
	<h3 class="parameters">Parameters</h3>

	<dl>
	<for each="item" in="data.params">
		<dt>
		<if test="item.isOptional">
		{!
			output += "[ ";
		!}
		</if>

		{!
			if(item.type)
				output += "<span class=\"type\">" + new Link().toSymbol(item.type) + "</span>";
			else
				output += "<span class=\"error type\">Unspecified</span>";
			output += "<span class=\"name\">" + item.name + "</span>";
		!}

		<if test="item.defaultValue">
		{!
			output += "= " + item.defaultValue;
		!}
		</if>

		<if test="item.isOptional">
		{!
			output += " ]";
		!}
		</if>
		</dt>
		<dd>{+resolveLinks(item.desc)+}</dd>
	</for>
	</dl>
	</if>


	<if test="data.exceptions.length">
	<h3 class="throws">Throws</h3>
	<dl>
	<for each="item" in="data.exceptions">
		<dt>
		{!
			if(item.type)
				output += "<span class=\"type\">" + new Link().toSymbol(item.type) + "</span>";
			else
				output += "<span class=\"error type\">Unspecified</span>";
			output += "<span class=\"name\">" + item.name + "</span>";

		!}
		</dt>
		<dd>{+resolveLinks(item.desc)+}</dd>
	</for>
	</dl>
	</if>

	<if test="data.returns.length">
	<h3 class="returns">Returns</h3>
	<dl>
	<for each="item" in="data.returns">
		<dt>{!
			if(item.type)
				output += "<span class=\"type\">" + new Link().toSymbol(item.type) + "</span>";
			else
				output += "<span class=\"error type\">Unspecified</span>";
		!}</dt>
		<dd>{+resolveLinks(item.desc)+}</dd>
	</for>
	</dl>
	</if>

	<if test="data.see.length || data.requires.length">
	<h3 class="linking">Linking</h3>
	<dl>
	</if>

	<if test="data.requires.length">
		<for each="item" in="data.requires">
		<dt>Requires</dt>
		<dd>{+ new Link().toSymbol(item) +}</dd>
		</for>
	</if>

	<if test="data.see.length">
		<for each="item" in="data.see">
		<dt>See</dt>
		<dd>{+ new Link().toSymbol(item) +}</dd>
		</for>
	</if>

	<if test="data.see.length || data.requires.length">
	</dl>
	</if>

	<if test="data.example.length">
	<h3 class="examples">Examples</h3>
	<dl>
		<dd>
		<for each="example" in="data.example">
			<code>{+example+}</code>
		</for>
		</dd>
	</dl>
	</if>
